<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class"well">
				<h3><span class="fa fa-user"></span> User Info</h3>
			</div>
			<div class="well">

					<p>
						<strong>Id</strong>: <%= user._id %><br>
						<strong>Email</strong>: <%= user.local.email %><br>
						<strong>Fixer?</strong>: <%= user.local.isFixer %><br>
						<strong>Password</strong>: <%= user.local.password %>
					</p>
			</div>
			<button type="button" class="btn btn-default"><a href='/issues/new' >Create issue</a></button> 
			<% if(user.local.isFixer == true) {%>
				<button type="button" class="btn btn-default"><a href='/map' >Issues Map</a></button> 
			<% } %>
				
			
			
		</div>
		
		<div class="col-sm-6">
			<div class"well">
				<h3><span class="glyphicon glyphicon-wrench"></span> Issues</h3>
			</div>
			<% for (var i = 0; i < issues.length; i++) { %>
				<div class="well">
					<strong>Title: </strong><%= issues[i].title %></br>
					<strong>Description: </strong><%= issues[i].description %></br>
					<strong>Address: </strong><%= issues[i].address %></br>
				</div>
				<% } %>
		</div>

	</div><!-- /.row -->
</div><!-- /.container --> 
</body>
</html>